@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply text-white bg-background text-foreground;
  }
}

@layer components {
  .center-element {
    @apply w-[90%] mx-auto;
  }

  /* svg {
    fill: white;
  } */

  /* animations */

  /* ======================= delete modal animation  */

  .open {
    animation: animation-in .1s linear forwards;
  }

  .close {
    animation: animation-out .1s linear forwards;
  }

  @keyframes animation-in {

    0% {
      opacity: 0;
      pointer-events: none;
    }

    100% {
      opacity: 1;
    }

  }

  @keyframes animation-out {

    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      pointer-events: none;
    }

  }
}